### Activity 11

In [1]:

import sqlite3

In [2]:
conn = sqlite3.connect("petsdb")

In [3]:
# a tiny function to make sure the connection is successful
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [4]:
print(is_opened(conn))

True

In [5]:
conn.close()

In [6]:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

### What are the different age groups in the persons database

In [8]:
conn = sqlite3.connect("petsdb")

In [9]:
c = conn.cursor()

In [11]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} person aged {}".format(ppl, age))

We have 2 person aged 5
We have 1 person aged 6
We have 1 person aged 7
We have 3 person aged 8
We have 1 person aged 9
We have 2 person aged 11
We have 3 person aged 12
We have 1 person aged 13
We have 4 person aged 14
We have 2 person aged 16
We have 2 person aged 17
We have 3 person aged 18
We have 1 person aged 19
We have 3 person aged 22
We have 2 person aged 23
We have 3 person aged 24
We have 2 person aged 25
We have 1 person aged 27
We have 1 person aged 30
We have 3 person aged 31
We have 1 person aged 32
We have 1 person aged 33
We have 2 person aged 34
We have 3 person aged 35
We have 3 person aged 36
We have 1 person aged 37
We have 2 person aged 39
We have 1 person aged 40
We have 1 person aged 42
We have 2 person aged 44
We have 2 person aged 48
We have 1 person aged 49
We have 1 person aged 50
We have 2 person aged 51
We have 2 person aged 52
We have 2 person aged 53
We have 2 person aged 54
We have 1 person aged 58
We have 1 person aged 59
We have 1 person aged 60
We have 1 person aged 61
We have 2 person aged 62
We have 1 person aged 63
We have 2 person aged 65
We have 2 person aged 66
We have 1 person aged 67
We have 3 person aged 68
We have 1 person aged 69
We have 1 person aged 70
We have 4 person aged 71
We have 1 person aged 72
We have 5 person aged 73
We have 3 person aged 74

### Which age group has maximum number of people?

In [12]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

Highest number of people 5 came from 73 age group

### How many people do not have a full name (Last name is blank/null)

In [14]:
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)

(60,)

### How many people has more than one pet? (*)

In [15]:
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} People has more than one pets".format(row[0]))

43 People has more than one pets

### How many pets have received treatments?

In [16]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)

(36,)

### How many pets have received treatment that we know the type of? (*)

In [17]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)

(16,)

### How many pets are there from the city called "east port"

In [19]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)

(49,)

### How many pets are there from the city called "east port" and who received a treatment?

In [20]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)

(11,)