Execise 1.2

### Load the dataset as a Pandas data frame

In [3]:
import pandas as pd

# Load the CSV file into a pandas dataframe
GameDataRaw = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

# Print the dataframe to verify that it loaded correctly
GameDataRaw.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

### Find the dimensions (number of rows and columns) in the data frame.

In [4]:
num_rows, num_cols = GameDataRaw.shape
print("Number of Rows: ", num_rows)
print("Number of Columns: ", num_cols)

Number of Rows:  16719
Number of Columns:  16

### What do these two numbers represent in the context of the data?
The number of rows represents the observed games, and the columns represent attributes about the game.

### Find the top five games by critic score.

In [8]:
top_five = GameDataRaw.sort_values('Critic_Score', ascending=False).head(5)

# I like to sort by row appearance here.
top_fiveSorted = top_five.sort_index()

# Print the top five games
print(top_fiveSorted['Name'])

51           Grand Theft Auto IV
57           Grand Theft Auto IV
165           Grand Theft Auto V
227     Tony Hawk's Pro Skater 2
5350                 SoulCalibur
Name: Name, dtype: object

### Find the number of video games in the data frame in each genre.

In [10]:
counts_by_genre = GameDataRaw.groupby('Genre').size()

# Let's do ascending order
counts_by_genre = counts_by_genre.sort_values()

# Print the counts by genre
print(counts_by_genre)

Genre
Puzzle           580
Strategy         683
Fighting         849
Simulation       874
Platform         888
Racing          1249
Adventure       1303
Shooter         1323
Role-Playing    1500
Misc            1750
Sports          2348
Action          3370
dtype: int64

### Find the first five games in the data frame on the SNES platform.

In [11]:
snes_games = GameDataRaw[GameDataRaw['Platform'] == 'SNES']

# Select the first five games in the filtered dataframe
first_five = snes_games.head(5)

# Let's order them
first_fiveSorted = first_five.sort_index()


# Print the first five games
print(first_five['Name'])

18                        Super Mario World
56                    Super Mario All-Stars
71                      Donkey Kong Country
76                         Super Mario Kart
137    Street Fighter II: The World Warrior
Name: Name, dtype: object

### Find the five publishers with the highest total global sales.

In [16]:
# Global sales is already on the sheet. Validated a few rows and the data is correct. 

top_five_global_sales = GameDataRaw.sort_values('Global_Sales', ascending=False).head(5)

# Print the top five games
print(top_five_global_sales['Name'])

0                  Wii Sports
1           Super Mario Bros.
2              Mario Kart Wii
3           Wii Sports Resort
4    Pokemon Red/Pokemon Blue
Name: Name, dtype: object

### Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

In [19]:
na_sales_percent = GameDataRaw['NA_Sales'] / GameDataRaw['Global_Sales'] * 100

# Add the new column to the dataframe
GameDataRaw['na_sales_percent'] = na_sales_percent

# Display the first five rows of the new dataframe
GameDataRaw.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,na_sales_percent
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.926044

### Find the number NaN entries (missing data values) in each column.

In [20]:
num_nans = GameDataRaw.isna().sum()
num_nans

Name                   2
Platform               0
Year_of_Release      269
Genre                  2
Publisher             54
NA_Sales               0
EU_Sales               0
JP_Sales               0
Other_Sales            0
Global_Sales           0
Critic_Score        8582
Critic_Count        8582
User_Score          6704
User_Count          9129
Developer           6623
Rating              6769
na_sales_percent       0
dtype: int64

### Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.

In [23]:
import numpy as np

# Replace non-numerical strings with NaNs in the user score column
GameDataRaw['User_Score'] = pd.to_numeric(GameDataRaw['User_Score'], errors='coerce')

# Calculate the median user score
median_user_score = GameDataRaw['User_Score'].median()

# Replace all NaN entries in the user score column with the median value
GameDataRaw['User_Score'].fillna(median_user_score, inplace=True)


GameDataRaw.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,na_sales_percent
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,7.5,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,7.5,NaN,NaN,NaN,35.926044