### Exercise 5.1 - Blueman Group
What percentage of the U.S. male
population is in this range?

In [2]:
# Starting with a import of Scipy
import scipy.stats

In [10]:
# Let's assign some randome variable boundries around the median heights. 
# Using the scipy.stats.norm function to add the random variables generated to 'dist'
# Playing witht he sigma variable to see what happens in the next script

mu = 180
sigma = 8.7
dist = scipy.stats.norm(loc=mu, scale=sigma)
type(dist)

scipy.stats._distn_infrastructure.rv_continuous_frozen

In [11]:
# We shoulod have variables in dist now- let's see
dist.mean(), dist.std()

(180.0, 8.7)

In [13]:
# Something happened here- not getting an output. WIll try to import scipy again
import scipy.stats

# Using the cdf functtion to find the percentage of people within the the mean vs stan dev. 
dist.cdf(mu-sigma)

0.1586552539314574

In [15]:
# Not let's use some new variables

low = dist.cdf(180)    # 5'10"
high = dist.cdf(185.4)   # 6'1"
low, high, high-low

(0.5, 0.7325980814051232, 0.23259808140512317)

### Exercise 5.2 - Pareto distribution

In [17]:
## This exercise gives us parameters for the variables "With the parameters xm = 1 m and Î± = 1.7, we get a distribution with a reasonable minimum, 1 m, and median, 1.5 m."
## Note to self- follow examples!

alpha = 1.7
xmin = 1       # meter
dist = scipy.stats.pareto(b=alpha, scale=xmin)
dist.median()

1.5034066538560549

In [19]:
# What is the mean height in Pareto world?
dist.mean()

2.428571428571429

In [20]:
# What fraction of people are shorter than the mean?
dist.cdf(dist.mean())

0.778739697565288

In [21]:
# Out of 7 billion people, how many do we expect to be taller than 1 km?
(1 - dist.cdf(1000)) * 7e9, dist.sf(1000) * 7e9

(55602.976430479954, 55602.97643069972)

In [24]:
# How tall do we expect the tallest person to be?
# Using kilometers here- how to covert to feet?

dist.sf(600000) * 7e9

1.0525455861201714

### Exercise 6.1 - Income Sample

In [132]:
# I think I should start by using the interpolatesample function.
# Move think-stats master file to directory in use to import hinc file to access inerpolatesample
# I'm going to define "df" variable first- not working otherwise

%matplotlib inline
import hinc
import hinc2
import thinkstats2
import thinkplot
import numpy as np
import pandas as pd
import chap06soln
import density

In [140]:
# Calling interpolate function to add lower and upper column to data frame but not working
# pulling interpolatesample out of hin2 file from text- call not working otherwise
# Not working- going to read CSV file to df first
# Still not working

df = hinc.ReadData()
import numpy as np
from __future__ import print_function

def InterpolateSample(df, log_upper=6.0):
    """Makes a sample of log10 household income.

    Assumes that log10 income is uniform in each range.

    df: DataFrame with columns income and freq
    log_upper: log10 of the assumed upper bound for the highest range

    returns: NumPy array of log10 household income
    """
    # compute the log10 of the upper bound for each range
    df['log_upper'] = np.log10(df.income)

    # get the lower bounds by shifting the upper bound and filling in
    # the first element
    df['log_lower'] = df.log_upper.shift(1)
    df.log_lower[0] = 3.0

    # plug in a value for the unknown upper bound of the highest range
    df.log_upper[41] = log_upper

    # use the freq column to generate the right number of values in
    # each range
    arrays = []
    for _, row in df.iterrows():
        vals = np.linspace(row.log_lower, row.log_upper, row.freq)
        arrays.append(vals)

    log_sample = np.concatenate(arrays)
    return log_sample

In [143]:
df

      income  freq  cumsum        ps
0     4999.0  4204    4204  0.034330
1     9999.0  4729    8933  0.072947
2    14999.0  6982   15915  0.129963
3    19999.0  7157   23072  0.188407
4    24999.0  7131   30203  0.246640
5    29999.0  6740   36943  0.301679
6    34999.0  6354   43297  0.353566
7    39999.0  5832   49129  0.401191
8    44999.0  5547   54676  0.446488
9    49999.0  5254   59930  0.489392
10   54999.0  5102   65032  0.531056
11   59999.0  4256   69288  0.565810
12   64999.0  4356   73644  0.601382
13   69999.0  3949   77593  0.633629
14   74999.0  3756   81349  0.664301
15   79999.0  3414   84763  0.692180
16   84999.0  3326   88089  0.719341
17   89999.0  2643   90732  0.740923
18   94999.0  2678   93410  0.762792
19   99999.0  2223   95633  0.780945
20  104999.0  2606   98239  0.802226
21  109999.0  1838  100077  0.817235
22  114999.0  1986  102063  0.833453
23  119999.0  1464  103527  0.845408
24  124999.0  1596  105123  0.858441
25  129999.0  1327  106450  0.869278
26  134999.0  1253  107703  0.879510
27  139999.0  1140  108843  0.888819
28  144999.0  1119  109962  0.897957
29  149999.0   920  110882  0.905470
30  154999.0  1143  112025  0.914803
31  159999.0   805  112830  0.921377
32  164999.0   731  113561  0.927347
33  169999.0   575  114136  0.932042
34  174999.0   616  114752  0.937072
35  179999.0   570  115322  0.941727
36  184999.0   502  115824  0.945826
37  189999.0   364  116188  0.948799
38  194999.0   432  116620  0.952327
39  199999.0   378  116998  0.955413
40  249999.0  2549  119547  0.976229
41       inf  2911  122458  1.000000

In [138]:
# I have tried everything to convert the VALS variable in the interpolatesample function to integers- nothing is working
log_sample = InterpolateSample(df, log_upper=6.0)

C:\Users\chris\AppData\Local\Temp\ipykernel_3540\489264460.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.log_lower[0] = 3.0
C:\Users\chris\AppData\Local\Temp\ipykernel_3540\489264460.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.log_upper[41] = log_upper

TypeError: 'numpy.float64' object cannot be interpreted as an integer

In [139]:
log_cdf = thinkstats2.Cdf(log_sample)
thinkplot.Cdf(log_cdf)
thinkplot.Config(xlabel='Household income (log $)',
               ylabel='CDF')

NameError: name 'log_sample' is not defined